:root {
    --color-a: #0D2544;
    --color-a-alpha: #143A66;
    --color-b: #11447B;
    --color-c: #0F4E95; 
    --color-d: #1160B3; 
    --color-e: #1F7ED8;
    --color-f: #479BE9;
    --color-g: #87BDF2;
    --color-h: #BFDAF8;
    --color-i: #E2EEFC;
    --color-j: #f1f7fe;
  }